@model FirstLoginAttemptViewModel
@{
    ViewData["Title"] = "First Login Attempt";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="FirstLoginAttempt" method="post">
                <hr />
                <input asp-for="UserId" type="hidden" />

                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" autocomplete="new-password" placeholder="Enter your password" />
                    <label asp-for="Password" class="form-label">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Confirm your password" />
                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="d-flex justify-content-between gap-3">
                    <a class="w-50 btn btn-lg btn-secondary" asp-action="Logout">Cancel</a>
                    <button type="submit" class="w-50 btn btn-lg btn-primary">Set Password</button>
                </div>
            </form>
        </section>
    </div>
</div>
